[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
stanza = "*"
arabic-reshaper = "*"
python-bidi = "*"
transformers = "*"
torch = "*"
arabert = "*"
regex = "*"
pyautogui = "*"
sqlalchemy = "*"
pyperclip = "*"
pillow = "*"
pyscreeze = "*"
opencv-python = "*"
beautifulsoup4 = "*"
easyocr = "*"
mss = "*"
fastapi = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
